#tools
/push.sh

#environment
/frontend/.env
/backend/.env
/backend/controller/googleApiCreds/credentials.json
/backend/controller/googleApiCreds/token.json

# dependencies
/frontend/node_modules
/backend/node_modules

/frontend/package-lock.json
/backend/package-lock.json

# production

# misc
/.idea
