#tools
/push.sh

#environment
/frontend/.env
/backend/.env
/backend/controller/api/googleApiCreds/


# dependencies
/frontend/node_modules
/backend/node_modules

/frontend/package-lock.json
/backend/package-lock.json

# production

# misc
/.idea
