@font-face {
    font-family: "Kanit-Light";   /*Can be any text*/
    src: local("Kanit-Light"),
    url("../fonts/Kanit-Light.ttf") format("truetype");
}

body{
    background-color: wheat;
    overflow: hidden;
    margin: 0;
}

.main-container {
    /*display: grid;*/
    width: 100dvw;
    height: 100dvh;
}