.refresh-button {
    position: absolute;
    margin: 12px;
    left: 0;
    top: 0;
    width: 38px;
    height: 38px;
    background-color: wheat;
    z-index: 30;
    border-radius: 10px;
}

.refresh-button:hover {
    background-color: #f7ecd8;
    scale: 1.1;
}


.refresh-button:active {
    background-color: #98c68f;
    scale: 0.95;
}

.refresh-img {
    margin: 5px;
    width: 27px;
    aspect-ratio: 1;
    filter: invert(28%) sepia(13%) saturate(1181%) hue-rotate(131deg) brightness(90%) contrast(89%);
}